.featureCard {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto 4rem auto;
  padding: 0;
  overflow: hidden;
}

.innerContent {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
  .featureCard {
    width: calc(100% - 2.5rem);
  }
  
  .innerContent {
    padding: 1.5rem;
    gap: 1.5rem;
  }
}