.description {
  font-family: var(--mantine-font-family);
  margin: 0;
  font-weight: 500;
  width: 850px;
  font-size: var(--mantine-font-size-2xl);
  line-height: 1.75;
  letter-spacing: 0.02em;
  padding-inline: var(--mantine-spacing-xl);
}

.highlight {
  color: var(--mantine-color-cyan-4);
  font-weight: 600;
}

@media (max-width: $mantine-breakpoint-md) {
  .description {
    width: 95%;
    font-size: var(--mantine-font-size-xl);
    line-height: 1.5;
    letter-spacing: 0.01em;
    padding-inline: var(--mantine-spacing-sm);
  }
}

