.description {
  font-family: "IBM Plex Mono", monospace !important;
  font-weight: 400 !important;
  font-size: var(--mantine-font-size-lg) !important;
  line-height: 1.5 !important;
  letter-spacing: 0.05em !important;
  padding-inline: var(--mantine-spacing-xl);
  color: var(--mantine-color-dark-2);
  max-width: 800px;
  border-left: 4px solid var(--mantine-color-orange-6);
  text-align: left;
  padding-left: 24px;
}

[data-mantine-color-scheme='light'] .description {
  color: var(--mantine-color-dark-8);
}

.highlight {
  color: var(--mantine-color-green-4);
  font-weight: 700;
  text-transform: uppercase;
}

[data-mantine-color-scheme='light'] .highlight {
  color: var(--mantine-color-green-6);
}

@media (max-width: 64em) {
  .description {
    font-size: var(--mantine-font-size-md) !important;
    padding-inline: 0;
    padding-left: 16px;
    text-align: left;
  }
}