.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--mantine-spacing-xl);
  margin-top: var(--mantine-spacing-md);
}

.startButton,
.githubButton {
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: var(--mantine-font-size-lg);
  width: 240px;
  height: 48px;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  border-radius: 12px;
  transition: all 0.2s ease;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
}

.startButton {
  background: linear-gradient(90deg, var(--mantine-color-cyan-4) 0%, var(--mantine-color-purple-5) 100%);
  background-color: transparent;
  color: var(--mantine-color-white);
  box-shadow: 0 var(--mantine-spacing-sm)
                var(--mantine-spacing-lg) 
                color-mix(in srgb, var(--mantine-color-cyan-4) 30%, transparent);
}

.startButton:hover {
  background: linear-gradient(90deg, var(--mantine-color-cyan-5) 0%, var(--mantine-color-purple-7) 100%);
}

.githubButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-sm);
  color: var(--mantine-color-black); 
  text-decoration: none;
  
}

.githubButton {
  background: var(--mantine-color-white);
  color: var(--mantine-color-primary-7);
  text-decoration: none;
  box-shadow: 0 var(--mantine-spacing-sm)
                var(--mantine-spacing-lg) 
                color-mix(in srgb, var(--mantine-color-primary-8) 20%, transparent);
}

.githubButton:hover {
  background: var(--mantine-color-primary-7);
  color: var(--mantine-color-white);
}

.githubButton:hover a {
  color: var(--mantine-color-white);
}

.buttonIcon {
  width: 20px;
  height: 20px;
}

@media (max-width: $mantine-breakpoint-md) {
  .buttons {
    flex-direction: column;
    gap: var(--mantine-spacing-xl);
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-md);
  }

  .startButton,
  .githubButton {
    width: 270px;
    height: 48px;
    font-size: var(--mantine-font-size-lg);
  }
  .githubButton {
    margin-bottom: var(--mantine-spacing-xl);
  }
}

