.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.title {
  font-weight: 900;
  line-height: 1.1;
  font-size: 3rem;
  letter-spacing: -0.04em;
}

.titleGradient {
  background: linear-gradient(
    90deg,
    var(--mantine-color-cyan-4) 0%,
    var(--mantine-color-purple-5) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description {
  font-family: var(--mantine-font-family);
  font-weight: 500;
  font-size: var(--mantine-font-size-xl);
  line-height: 1.75;
  letter-spacing: 0.02em;
  padding-inline: var(--mantine-spacing-xl);
}

