body {
  margin: 0;
  padding: 0;
  background-color: var(--mantine-color-white);
  color: var(--mantine-color-dark-9);
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-mantine-color-scheme='dark'] body {
  background-color: var(--mantine-color-dark-9);
  color: var(--mantine-color-white);
}

.app {
  background-color: transparent;
  min-height: 100vh;
}